.min-vh-100 {
    min-height: 100vh !important;
}

.position-relative {
    position: relative !important;
}

.bg-cover {
    background-size: cover;
    background-position: 25% center;
    background-repeat: no-repeat;
    /*移除預設樣式*/
    -webkit-appearance: none;
    /* Safari 和 Chrome，常用於 iOS 移除內建樣式 */
    -moz-appearance: none;
    /* FireFox */
    appearance: none;
}

.bg-attachment-fixed {
    background-attachment: fixed;
}

.position-absolute {
    position: absolute !important;
}